.icons{
    background-repeat: no-repeat;
    height: 35px;
    cursor: pointer;
}

.plus {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2050%2050%22%3E%3Ccircle%20cx%3D%2225%22%20cy%3D%2225%22%20r%3D%2225%22%20fill%3D%22%23f50%22/%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M25%2013v25m12.5-13h-25%22/%3E%3C/svg%3E');
}

.plus:active{
    @extend .plus-active;
}

.plus-active {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2050%2050%22%3E%3Ccircle%20cx%3D%2225%22%20cy%3D%2225%22%20r%3D%2225%22%20fill%3D%22%23f83600%22/%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M25%2013v25m12.5-13h-25%22/%3E%3C/svg%3E');
}

.success {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2050%2050%22%3E%3Ccircle%20cx%3D%2225%22%20cy%3D%2225%22%20r%3D%2225%22%20fill%3D%22%23f50%22/%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M38%2015L22%2033l-10-8%22/%3E%3C/svg%3E');
}
.success:active{
    @extend .success-active;
}

.success-active {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2050%2050%22%3E%3Ccircle%20cx%3D%2225%22%20cy%3D%2225%22%20r%3D%2225%22%20fill%3D%22%23f83600%22/%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M38%2015L22%2033l-10-8%22/%3E%3C/svg%3E');
}

.user {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2254%22%20height%3D%2248%22%20viewBox%3D%222%201%2030%2030%22%3E%3Cpath%20class%3D%22user%22%20d%3D%22M18%2022.082v-1.65c2.203-1.24%204-4.336%204-7.43%200-4.972%200-9-6-9s-6%204.028-6%209c0%203.095%201.797%206.19%204%207.43v1.65C7.216%2022.637%202%2025.97%202%2030h28c0-4.03-5.216-7.364-12-7.918z%22%20fill%3D%22%23f50%22/%3E%3C/svg%3E');
}

.del_basket_white {
    float: right;
    width: 30px;
    margin: 3px 5px 0 0;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2050%2050%22%3E%3Ccircle%20cx%3D%22-34.773%22%20cy%3D%22-7.254%22%20r%3D%2224.377%22%20transform%3D%22rotate%28-146.756%29%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.475%22/%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M16%2034l9-9%209-9m-18%200l9%209%209%209%22/%3E%3C/svg%3E');
}

.del_basket_orange {
    float: right;
    width: 25px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2050%2050%22%3E%3Ccircle%20cx%3D%22-34.773%22%20cy%3D%22-7.254%22%20r%3D%2224.377%22%20transform%3D%22rotate%28-146.756%29%22%20fill%3D%22%23b0aaa0%22%20fill-opacity%3D%22.03%22%20stroke%3D%22%23f50%22%20stroke-width%3D%221.475%22/%3E%3Cpath%20fill%3D%22%239e5a4a%22%20stroke%3D%22%23f50%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20fill-opacity%3D%22.02%22%20d%3D%22M16%2034l9-9%209-9%22/%3E%3Cpath%20fill%3D%22%239eb6cc%22%20stroke%3D%22%23f50%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M16%2016l9%209%209%209%22/%3E%3C/svg%3E');
}

.close_active {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2050%2050%22%3E%3Ccircle%20cx%3D%2225%22%20cy%3D%2225%22%20r%3D%2225%22%20fill%3D%22%23e53935%22/%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M16%2034l9-9%209-9m-18%200l9%209%209%209%22/%3E%3C/svg%3E');
}
