$heightbl: 54px;
$widthbl: 48px;
$trx:20px;
$try:1px;
$backcolor:bottom, #FE8C00 2%, #F83600 100%;//фон меню
$backcolor_pas:#f50;//фоны кнопок
$backcolor_act:#F83600;
$color_elem:white; //цвет иконок
$color-search:#65737e;
$width-search-and-menu:200px;
$time_anim:0.4s;
$bordermenu:1px solid $backcolor_act*0.95;

$small: 600px;
$large: 750px;

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $small) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $large) { @content; }
    }
}

@font-face {
    font-family: 'Ruble';
    src: url(fonts/RUBSN.otf); 
}
@font-face {
    font-family: 'Exodus - Personal Use';
    src: url(fonts/Exodus-PersonalUse-Sharpen.otf); 
}

.rubl {
    font-family: 'Ruble';
    margin: 0 0 0 0
}

//Гамбургер

.cmn-toggle-switch {
    display: block;
    position: relative;
    overflow: hidden;
    margin:0;
    padding: 0;
    width: 54px;
    height: 48px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.cmn-toggle-switch:focus {
    outline: none;
}

.cmn-toggle-switch span {
    display: block;
    position: absolute;
    top: 22.5px;
    left: 9px;
    right: 9px;
    height: 3px;
    background: $color_elem;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $color_elem;
    content: "";
}

.cmn-toggle-switch span::before {
    top: -13.5px;
}

.cmn-toggle-switch span::after {
    bottom: -13.5px;
}


/**
 * Анимация кнопки меню
 *
 * «Гамбургер» превращается в стрелку, указывающую влево (класс htla).
 * Обычно подобная иконка указывает на скрытое меню, которое плавно появляется
 * с левой стороны и закрывается при повторном клике по иконке.
 */



.cmn-toggle-switch__htla {
    background-color: $backcolor_pas;
}

.cmn-toggle-switch__htla span {
    -webkit-transition: -webkit-transform $time_anim;
    transition: transform $time_anim;
    border-radius: 3px;
}

.cmn-toggle-switch__htla span::before {
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: -webkit-transform $time_anim, width $time_anim, top $time_anim;
    transition: transform $time_anim, width $time_anim, top $time_anim;
    border-radius: 3px;
}

.cmn-toggle-switch__htla span::after {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform $time_anim, width $time_anim, bottom $time_anim;
    transition: transform $time_anim, width $time_anim, bottom $time_anim;
    border-radius: 3px;
}

/* активное состояние, т.е. меню открыто */
.cmn-toggle-switch__htla.active {
    background-color: $backcolor_act;
}

.cmn-toggle-switch__htla.active span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cmn-toggle-switch__htla.active span::before,
.cmn-toggle-switch__htla.active span::after {
    width: 50%;
}

.cmn-toggle-switch__htla.active span::before {
    top: 0;
    -webkit-transform: translateX($trx) translateY($try) rotate(45deg);
    -ms-transform: translateX($trx) translateY($try) rotate(45deg);
    transform: translateX($trx) translateY($try) rotate(45deg);
}

.cmn-toggle-switch__htla.active span::after {
    bottom: 0;
    -webkit-transform: translateX($trx) translateY(-$try) rotate(-45deg);
    -ms-transform: translateX($trx) translateY(-$try) rotate(-45deg);
    transform: translateX($trx) translateY(-$try) rotate(-45deg);
}

#bt_user,#bt_cart{
    position: absolute;
    z-index: 50;
    width: 50px;
    height: 45px;
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: 0;   
}
#bt_cart{
    right: 15px;  
}


//Боковое меню


body,html {
    font-family: helvetica;
    font-weight: 100;
}
.container-full {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}

.container-full.open-sidebar {
    left: 230px;
}

#sidebar.open-sidebar{
    left: 0px;   
}
#right.open-sidebarright{
    margin-left: -265px;

}

.container-full.open-sidebarright {
    left: -265px;
}

.back_block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: -9;

    -moz-transition: opacity 0.4s 0.1s ease,z-index 0.9s;
    -o-transition: opacity 0.4s 0.1s ease,z-index 0.9s;
    -webkit-transition: opacity 0.4s 0.1s ease, z-index 0.9s;
    transition: opacity 0.4s 0.1s ease, z-index 0.9s;
}

.show_b{
    z-index: 999; 
    opacity: 0.5;
}

#sidebar,#right {
    position: absolute;
    width: 230px;
    left: -230px;
    background: -webkit-linear-gradient($backcolor);
    background: -moz-linear-gradient($backcolor);
    background: -o-linear-gradient($backcolor);
    background: -ms-linear-gradient($backcolor);
    //height: 700px;
    box-sizing: border-box;
    overflow:auto;
    z-index:9999;
    -webkit-transition:  left  0.4s ease-in-out;
    -moz-transition:  left  0.4s ease-in-out;
    -ms-transition:  left  0.4s ease-in-out;
    -o-transition:  left  0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;


    //   overflow-style: marquee;
    //  overflow: -moz-scrollbars-none; 


    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0;
        }
        li a {
            padding: 15px 20px;
            font-size: 16px;
            //@include respond-to(handhelds) { font-size: 16px;}
            // @include respond-to(medium-screens) { font-size: 20px; }
            //@include respond-to(wide-screens) { font-size: 30px; }
            font-weight: 100;
            color: white;
            text-decoration: none;
            display: block;
            border-top: $bordermenu;
            -webkit-transition:  background 0.3s ease-in-out;
            -moz-transition:  background 0.3s ease-in-out;
            -ms-transition:  background 0.3s ease-in-out;
            -o-transition:  background 0.3s ease-in-out;
            transition:  background 0.3s ease-in-out;
        }

    }
    p{
        color: white;
        padding:5px 10px;
    }
    #items_list {
        width: 100%;
        border-top: $bordermenu;
        td{
            border-top:$bordermenu;
            border-bottom:$bordermenu;
            color: white; 
            padding:7px 5px;
            font-size: 13px;
        }
    }

    #hide li a {
        padding-left:50px;
    }
    @media (min-width:582px) {
        #hide li:hover a {
            background: $backcolor_act*0.95;
        }

        ul li:hover a {
            background: $backcolor_act*0.95;
        }
    }

    #drop1.active{
        background: $backcolor_act*0.95;  
    }

    #hide a{
        background: #f50; 
    }
}

#right {
    width: 265px; 
    left: 100%;
    top: 0px;
    right: 265px;
    -webkit-transition:  margin-left  0.4s ease-in-out;
    -moz-transition:  margin-left  0.4s ease-in-out;
    -ms-transition:   margin-left 0.4s ease-in-out;
    -o-transition:   margin-left 0.4s ease-in-out;
    transition:  margin-left 0.4s ease-in-out;

    h3{
        color: white;
        text-align: center;
        padding: 20px 0 0 0;
    }

    #empty{
        position: absolute;
        width: 265px; 
        background: -webkit-linear-gradient($backcolor);
        background: -moz-linear-gradient($backcolor);
        background: -o-linear-gradient($backcolor);
        background: -ms-linear-gradient($backcolor);
        height: 100%;
        z-index: 99999;
    }

    li.items_elem{
        font-size: 13px;
        height: 100px;
    }
}

#emptyd{
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    position: absolute;
    
    h4{
        padding: 25px 0 0 0;
        text-align: center;
    }
}

//#sidebar::-webkit-scrollbar { width: 0; height: 0; }
//#right::-webkit-scrollbar { width: 0; height: 0; }

.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}
.main-content .content h1{
    font-weight: 100;
}
.main-content .content p{
    width: 100%;
    line-height: 160%;
}
.main-content #sidebar-toggle {
    background: #DF314D;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
}
.main-content #sidebar-toggle .bar{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}
.main-content #sidebar-toggle .bar:last-child{
    margin-bottom: 0;
}


//Поле поиска

.box{
    margin: 10px 10px 20px;
    height: 25px;
}

.container-4 
{
    overflow: hidden;
    width: $width-search-and-menu;
    white-space: nowrap;

    input#search{
        height: 35px;
        width: 200px;
        background: $color_elem;
        border: none;
        font-size: 12pt;
        float: left;
        color: #000;
        padding-left: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        -webkit-transition: background .55s ease;
        -moz-transition: background .55s ease;
        -ms-transition: background .55s ease;
        -o-transition: background .55s ease;
        transition: background .55s ease;
    }

    input#search::-webkit-input-placeholder {
        color: $color-search;
    }

    input#search:-moz-placeholder { /* Firefox 18- */
        color: $color-search;  
    }

    input#search::-moz-placeholder {  /* Firefox 19+ */
        color: $color-search;  
    }

    input#search:-ms-input-placeholder {  
        color: $color-search;  
    }


    #search{
        -webkit-transition: all .55s ease;
        -moz-transition: all .55s ease;
        -ms-transition: all .55s ease;
        -o-transition: all .55s ease;
        transition: all .55s ease;  

        fill:white;
    }

    button.icon{
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        border: none;
        padding-left: 5px;
        cursor: pointer;
        background: #FFC107;
        height: 35px;
        width: 35px;
        color: $color_elem;
        opacity: 0;
        font-size: 10pt;

        -webkit-transition: all .55s ease;
        -moz-transition: all .55s ease;
        -ms-transition: all .55s ease;
        -o-transition: all .55s ease;
        transition: all .55s ease;
    }

    input#search:hover,  input#search:focus, input#search:active{
        outline:none;
        background: #ffffff;
    }
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -35px;
}

.container-4:hover button.icon:hover{
    background: white;

    #search{    
        fill: #FFC107;
    }
}

#header.open-sidebar {
    left: 230px;
}
#header.open-sidebarright {
    left: -265px;
}

#header{
    z-index: 9979;
    background: white;
    height: 48px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;

    a{
        cursor: pointer;
        svg {
            fill:#f50;
            float: right; 

            .active  {
                fill:#D50000;
            }
        }

    }
}

#slogo{
    //  padding-top: 7px;
    width: 100%;
    //  height: 100%
}

#logo{
    width: 160px;
}

//Вид товаров
#items{
    margin-right:0px;

    img{
        float: left;
        cursor: pointer;
    }
    #des{
        padding:3px 7px;
        word-wrap: break-word;
        font-size: 15px;
    }
}

.heig{
    height:250px; 
}

.addbasket{
    position: absolute;
    bottom: 5px;
}

.addkorz{
    padding: 5px 0px 0 40px;
}

.inputnum{
    height: 25px;
    width:45px;
}

.order { 
    background-color:#fff; 
    color:$backcolor_pas; 
    border-color:$backcolor_pas;
    cursor: pointer;
} 

#items_listd{
    width: 100%;
    td{
        padding: 10px;
    }
}
/*.btn-order:hover, .btn-black:focus {
    background-color: $backcolor_act*0.95; 
    color: #FFFFFF;
} 
.btn-order:active { 
    background-color: $backcolor_act;
    color: #FFFFFF;
}*/

//Верстка под мобилку

@media (max-width:582px) {
    #sidebar,#right{
        height: 100%;
        position: fixed;
        margin-left: 0;
    }

    #sidebar{
        margin-top: -48px;
    }

    #header{
        position: fixed;
        left:0px;
        margin-left:0px;
        margin-top: -48px;
    }
    #header1{
        padding-right: 0px;
        padding-left: 0px;
    }
    #contentB{
        margin-top: 48px;
    }
    #blockB{
        //  overflow-x:hidden;
        //  overflow-y:auto;
        margin-top:48px;
        margin: 0;
    }
    #slogo{
        padding-top: 7px;
    } 

}

//Верстка под комп

@media (min-width:582px) {
    body,html{
        overflow: auto;
        overflow-x:hidden;
        height: 100%;
    }
    #right{
        display: none;
    }
    #logo{
        width: 220px;
        height: 45px;
    }
    #sidebar{
        left:0;
        z-index: 1000;
        border-radius: 0 5px 5px 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .cmn-toggle-switch {
        left:-200px
    }

    #blockA{
        margin-left: 255px;
    } 

    #header{
        border-radius: 5px 5px 5px 5px;
    }

    #contentB{
        margin-top: 20px;
        margin-right: 30px;
    }
}

//----------------------------------------------------------------------
//Аутентификация/регистрация
//----------------------------------------------------------------------

#login{
    padding: 20% 0;
    width: 90%;
    margin: auto;

    h3{
        font-size: 2em;
        font-weight: 300;
        text-align: center;
    }

    .btn-orange { 
        background-color:$backcolor_pas; 
        color:#FFFFFF; 
        border-color:$backcolor_pas;
        cursor: pointer;
    } 
    .btn-orange:hover, .btn-black:focus {
        background-color: $backcolor_act*0.95; 
        color: #FFFFFF;
    } 
    .btn-orange:active { 
        background-color: $backcolor_act;
        color: #FFFFFF;
    }
}


@media (min-width:582px){
    #login{
        padding:0;
        margin: 50px 100px auto 100px;
    }
}

@media (max-width:582px){
    .g-recaptcha{
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

@media (min-width:882px)  {
    #login{
        width: 50%;
    }
}

@media (min-width:582px) and (max-width:882px)  {
    #login{
        width: 80%;
    }
}
